# API Configuration
NUXT_API_BASE_URL=""

# Security Configuration
NUXT_ENABLE_SECURITY="true"
NUXT_ALLOWED_DOMAIN=""

# Server Configuration
NUXT_LOCAL_NETWORK_IP=""
NUXT_RUNNING_PORT="3000"

# Security Headers
NUXT_CSP_SCRIPT_SRC="'self' https: 'unsafe-inline' 'strict-dynamic' 'nonce-{{nonce}}'"
NUXT_CSP_STYLE_SRC="'self' https: 'unsafe-inline'"
NUXT_CSP_IMG_SRC="'self' data:"
NUXT_CSP_OBJECT_SRC="'none'"
NUXT_CSP_FORM_ACTION="'self'"
NUXT_CSP_FRAME_ANCESTORS="'self'"
NUXT_CSP_FONT_SRC="'self' https: data:"
NUXT_CSP_UPGRADE_INSECURE_REQUESTS="true"

# Rate Limiting
NUXT_RATE_LIMIT_TOKENS_PER_INTERVAL="150"
NUXT_RATE_LIMIT_INTERVAL="300000"

# Request Size Limits
NUXT_MAX_REQUEST_SIZE="2000000"
NUXT_MAX_UPLOAD_SIZE="8000000"

# CORS Configuration
NUXT_CORS_ALLOWED_ORIGIN=""
NUXT_CORS_ALLOWED_METHODS="GET,HEAD,PUT,PATCH,POST,DELETE"
NUXT_CORS_PREFLIGHT_STATUS="204"

# CSRF & Security
NUXT_CSRF="true"
NUXT_NONCE="true"
NUXT_SRI="true"
