@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth overflow-auto bg-white/50 min-h-dvh leading-relaxed m-0 p-0 box-border font-Poppins;
  }

  ::selection {
    @apply bg-darkBlue text-white;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility section {
  @apply relative w-full py-20;
}
/* content container height */
@utility center-height {
  @apply min-h-[calc(100vh-138px)];
}

@utility scroll-height {
  @apply max-h-[calc(100vh-138px)];
}
/* Shadow left */
@utility shadow-left {
  @apply shadow-lg shadow-gray-300/50;
}

/* Focus input icon */
.focus-input-icon:focus-within span.iconify {
  color: var( --color-oceanBlue);
  }

/* Focus warning input */
.focus-input-icon-warning span.iconify {
  color: var( --color-normalRed);
  }
  

@theme {
  --color-darkBlue: #282938;
  --color-oceanBlue: #56ade8;
  --color-normalBlue: #2405f2;
  --color-normalYellow: #FCD980;
  --color-textGray: #6E7178;
  --color-containerGray: #F3F3F3;
  --color-normalGreen: #00BF77;
  --color-normalRed: #f00;
  
   /* Background color */
   --color-grayLight: #f0f0f0;

   --font-Poppins: "Poppins", sans-serif;
   --font-PTSerif: "PT Serif", serif;

   /* Text size */
   --text-extraLarge: 2.5rem !important; /* 40px */        
   --text-large: 1.5rem !important; /* 24px */
   --text-medium: 1.1rem !important; /* 18px */
   --text-small: 1rem !important; /* 16px */
   --text-extraSmall: 0.8rem !important; /* 14px */
   --text-smallest: 0.6rem !important; /* 12px */
   


   --animate-bounce-horizontal: bounce-horizontal 1s infinite;
   @keyframes bounce-horizontal {
     0%, 100% {
       transform: translateX(-5px);
     }
     50% {
       transform: translateX(5px);
     }
   }

}

@plugin 'tailwind-scrollbar';
/* font */
@utility content-view{
  font-size: var(--text-extraSmall) !important;
}


/* swiper-pagination-bullet 
<span part="bullet" class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7"></span>
*/
.swiper-container .swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  background-color: white !important;
}

.swiper-container .swiper-pagination-bullet-active {
  height: 14px !important;
  width: 14px !important;
  border-radius: 50%;
  background-color: var(--color-oceanBlue) !important;
}
