@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth overflow-auto bg-white/50 min-h-dvh leading-relaxed m-0 p-0 box-border font-Poppins select-none;
  }

  /* ::selection {
    @apply bg-darkBlue text-white;
  } */
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility section {
  @apply relative w-full py-20;
}
/* content container height */
@utility center-height {
  @apply min-h-[calc(100vh-138px)];
}

@utility scroll-height {
  @apply max-h-[calc(100vh-138px)];
}
/* Shadow left */
@utility shadow-left {
  @apply shadow-lg shadow-gray-300/50;
}

/* Focus input icon */
.focus-input-icon:focus-within span.iconify {
  color: var( --color-oceanBlue);
  }

/* Focus warning input */
.focus-input-icon-warning span.iconify {
  color: var( --color-normalRed);
  }
  
  /* Focus warning input */
.focus-input-icon-warning:focus-within span.iconify {
  color: var( --color-normalRed);
  }
  

@theme {
  --color-darkBlue: #282938;
  --color-oceanBlue: #56ade8;
  --color-normalBlue: #2405f2;
  --color-normalYellow: #FCD980;
  --color-textGray: #6E7178;
  --color-containerGray: #F3F3F3;
  --color-normalGreen: #00BF77;
  --color-normalRed: #f00;
  
   /* Background color */
   --color-grayLight: #f0f0f0;

   --font-Poppins: "Poppins", sans-serif;
   --font-PTSerif: "PT Serif", serif;

   /* Text size */
   --text-extraLarge: 2.5rem; /* 40px */        
   --text-large: 1.5rem; /* 24px */
   --text-medium: 1.1rem; /* 18px */
   --text-small: 1rem; /* 16px */
   --text-extraSmall: 0.8rem; /* 14px */
   --text-smallest: 0.6rem; /* 12px */
   


   --animate-bounce-horizontal: bounce-horizontal 1s infinite;
   @keyframes bounce-horizontal {
     0%, 100% {
       transform: translateX(-5px);
     }
     50% {
       transform: translateX(5px);
     }
   }

}

@plugin 'tailwind-scrollbar';
/* font */
@utility content-view{
  font-size: var(--text-extraSmall) !important;
}


/* swiper-pagination-bullet 
<span part="bullet" class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7"></span>
*/
.swiper-container .swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  background-color: white !important;
}

.swiper-container .swiper-pagination-bullet-active {
  height: 14px !important;
  width: 14px !important;
  border-radius: 50%;
  background-color: var(--color-oceanBlue) !important;
}


/*  notes styles */
.notes span, .notes p{
  font-size: var(--text-small) !important;
}
.notes p{
  margin-top: 10px;
  
}
/* images in notes */
.notes p img{
 margin: 10px auto;
 display: inline-block;
 border-radius: 12px;
}

/* model-viewer */
.notes model-viewer{
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

.notes p span{
  display: block;
}

.notes p video{
  width: 100% !important;
  height: auto;
  margin: 10px auto;
  border-radius: 12px;
}

/*  */
.notes table td img{
  height: 231px;
  width: 100%;
  border-radius: 12px ;
  object-fit: contain;
}


.notes p td{
  padding: 10px !important;
  overflow: hidden;
  /* text-align: center; */
  border-radius: 12px;
}

/* .notes table td p{
  text-align: center !important;
} */

/* table */

.notes table{
  width: 100% !important;
  border-collapse: collapse;
  overflow-x: scroll;
  overflow: hidden;
}

.notes table tr{
  padding: 10px;
  text-align: center;
  white-space: nowrap !important;
}


/* sidebar shadow left only */
.sidebar{
 box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) !important;
}
/* wrapper class */
.wrapper-container{
  /* display: block; */
  padding: 0 1rem;
  height: 100%;
}

/* wrapper-container media querries  */
/* phones media query */
@media (min-width: 320px) {
  .wrapper-container{
    padding: 0 1rem;
  }

  .notes table{
    width: 100%;
  }
  .notes table td {
    overflow-x: scroll;
    overflow: hidden;
  }
}

@media (min-width: 640px) {
  .wrapper-container{
    padding: 0 2rem;
  }

  .notes p img{
    margin: 10px auto;
   }
}

@media (min-width: 768px) {
  .wrapper-container{
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .wrapper-container{
    padding: 0 4rem;
  }
}

@media (min-width: 1280px) {
  .wrapper-container{
    padding: 0 5rem;
  }
}

@media (min-width: 1536px) {
  .wrapper-container{
    padding: 0 6rem;
  }
}

/* bg-gradient-to-b from-customRedColor to-customGreenColor */
.bg-gradient-to-b{
  background: linear-gradient(to bottom, var(--color-normalRed), var(--color-normalGreen));
}